parameters:
    ignoreErrors:
        - message: '#Parameter \#1 \$prefix of static method Illuminate\\Support\\Facades\\Route::prefix\(\) expects string, mixed given\.#'
          path: routes/web.php

        - message: '#Parameter \#1 \$asset of function lara_gen_adv_dist_path expects string\|null, mixed given#'
          path: src/Http/Controllers/Asset/AssetController.php
